.App {
    height: 100vh;
    /* background-image:url(./formbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* padding:20px; */
    /* background-position: bottom center; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
} */

nav{
  padding:10px 5px 5px 5px;
  background-color: orange;
}
nav>ul{
  list-style-type: none;
  display: flex;
}
nav>ul>li{
  flex: 1;
  font-weight: bold;
  font-size: 1.5em;
  color:#0bbf7d;
  font-family: 'Poppins', sans-serif;
}

