body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

    margin:0 auto 0 auto;
    background-color: #4c4db1;
    /* background-image:url(./formbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; */
    padding:30px;
    /* background-position: bottom center; */
    text-align: center;
    overflow-x: hidden;

  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
