
.instructionsBg{
    background-image:url(./img/formbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    margin:0 auto 0 auto;
}

.homeCont{
    /* margin: 50px auto 50px auto; */
}

.contestBox{
    /* margin:0 auto 30px auto; */
    /* background-image:url(./img/contestBoxHome.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    /* height: 60%; */
    /* padding:0 45px; */
    font-family: 'Poppins', sans-serif;
    /* padding-bottom: 20px; */
    /* height:100%; */
    /* padding:0 60px; */
}

.contestBox h3{
    margin: 0px auto 0px auto;
    text-align: center;
    font-weight: bold;
    color:#ffffff;
    margin: 0px 0 0px 0;
    padding-top:35px;
    padding-bottom: 35px;
}

.contestBox p{
    margin: 0px auto 0px auto;
    color:#525252;
    text-align: center;
}

.contestBox p.p1 {
    padding: 70px 50px 20px 50px;
}

.contestBox p.p2{
    padding: 20px 50px 100px 50px;
}
#goToThanks{
    background-color: #0bbf7d;
    padding:20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
}